body{
    margin: 0;
    background-color: #e3e7eb;
}

/* navbar styling */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    background-color: #f4f3f3;
}

.nav-left ul{
    display: flex;
    list-style-type: none;
}
.nav-left ul li{
    margin-right: 30px;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}
.nav-left a{
    text-decoration: none;
    color: black;
}

.nav-right a{
    text-decoration: none;
    font-size: 20px;
    background-color: black;
    padding: 8px 20px;
    border-radius: 5px;
    color: white;
}

nav img{
    padding-right: 50px;
    align-items: center;
    justify-content: center;
    width: 10%;
}

/*  card styling       */
.card{
    border: 0.5px solid whitesmoke; padding: 10px; margin: 100px 100px; width: auto; border-radius: 15px; box-shadow:0 0 30px #3d3d3d;
}
.card{
    display: flex;
    justify-content: space-between;
    background-color: #fefefe;
}

.content{
    padding: 100px;
}

.contact{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 5px 20px;
    border-radius: 20px;
}
.CV{
    text-decoration: none;
    color: black;
    padding-left: 20px;
}
.social{
    padding-top: 50px;
}

.social a {
    padding-right: 30px;
}

.foto{
    border-radius: 10px;
    box-shadow: 0 0 30px #a7aaad;
    padding: 0 0 10px 0;
    margin: 30px;
}
.pasfoto{
    border-radius: 10px 10px 0 0;
}
.nama-bawah{
    text-align: center;
}

/* contact me styling */
form {
    width: 350px;
    margin: 50px auto;
}

form div{
    margin-top: 10px;
}

label{
    font-weight: bold;
    font-size: 20px;
}

input, select, textarea{
    width: 100%;
    border-radius: 5px;
    border: 1px solid #eaeaea;
    padding: 10px;
    margin-top: 5px;
    box-shadow: 0 0 5px #a7aaad;
}

textarea{
    resize: none;
    height: 100px;
}

button{
    background-color: black;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 20px;
    margin-top: 20px;
    float: right;
    font-weight: bold;
}
.getin{
    text-align: center;
    padding-top: 50px;
}

/*detail blog*/
.head h1{
    text-align: center;
}
.grid{
    display: flex;
    align-items: start;
    justify-content: stretch;
    padding: 0 40px;
    margin: 100px ;
    flex-wrap: wrap;
}


.content-left img{
    width: 800px;
}

.content-right{
    display: flex;
    padding-left: 50px;
    font-size: 20px;
    flex-direction: column;

}
.tech span{
    padding-left: 10px;
}
.tech span svg{
    height: 30px;
    width: 30px;
    padding: 10px 10px 0px 5px;
    align-items: center ;
    justify-content: center;
}


.article{
    display: flex;
    text-align: justify;
    padding-left: 0;
    padding-top: 80px;
}


.date {
    display: flex;
}
.end-date{
    padding-left: 10px;
}

.container-tech {
    display: grid;
    grid-template-columns: 175px 175px;
    list-style-type: none;
    padding: 10px;
}

.container-tech input{
    width: auto;
}

.container-article-myproject{
    background-color: #f8f8f8;
    padding-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 100px;
}

.article-myproject{
    padding: 0px 60px;
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 20px;
}
.name-myproject{
    display: flex  ;
    align-items: center;
    justify-content: center;
    padding-top: 30px;
    
}
.card-myproject{
    width: 400px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 5px #a7aaad;
    padding: 10px 20px;
    margin: 50 10px;
}

.card-myproject img{
    width: 100%;
    border-radius: 10px;
    height: 266.14px;
    
}

.logo-myarticle span svg{
    height: 30px;
    width: 30px;
    padding: 10px 10px 0px 5px;
}

.button-edit, .button-delete{
    background-color: black;
    padding: 10px 30px;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 20px 5px;
    font-weight: bold;
}
.button-card-myarticle{
    display: grid;
    grid-template-columns: auto auto;
}

.card-myproject h3 a{
    text-decoration: none;
    color: black;
}

.humberger-nav-container {
    font-size: 24px;
    display: none;
}

.humberger-nav-container a{
    color: black;
    background-color: #9a9a9a;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    text-decoration: none;
}
.hum-contact{
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px 20px;
}
.button-ham{
    color: black;
}

#barsmenu {
    display: none;
}

@media only screen and (max-width: 1400px){
    .article-myproject{
        grid-template-columns: auto auto;
        align-items: center;
        justify-content: center;
    }
}

@media only screen and (max-width: 1200px) {
    .card {
        display: flex;
        justify-items: center;
        align-items: center;
        flex-direction: column;
    }
    .content{
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .social a {
        padding-right: 15px;
    }
}

@media only screen and (max-width: 1100px){
    .article-myproject{
        grid-template-columns: auto;
    }
}

@media only screen and (max-width: 600px) {

    .nav-list {
        display: none;
    }
    nav ul li {
        display: none;
    }
    .logoimg{
        width: auto;
        height: 30px;
    }
    .card {
        margin: 30px 10px;
    }
    #barsmenu {
        display: block;
    }
    .content{
        padding: 0px 20px;
    }
    
}